@charset "UTF-8";
@import 'mixin.scss';
html,
body {
  background: #fff;
  color: #000;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
}

body,
button,
input,
select,
textarea {
  font: 14px/1.5 '\5b8b\4f53', 'Helvetica Neue', Arial, 'Liberation Sans',
    FreeSans, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  line-height: 20px;
}

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  /*阻止旋转屏幕时自动调整字体大小*/
  -webkit-text-size-adjust: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

image,
fieldset {
  border: none;
}

a:focus,
*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/*取消按钮在inphone上的默认样式*/

input[type='button'] {
  -webkit-appearance: none;
  outline: none;
}

input::-webkit-input-placeholder {
  /*修改webkit中input的planceholder样式*/
  color: #969;
}

textarea::-webkit-input-placeholder {
  /*修改webkit中input的planceholder样式*/
  color: #969;
}

input:focus::-webkit-input-placeholder {
  color: #969;
}

input::-webkit-input-speech-button {
  display: none;
}

a,
button,
input,
optgroup,
select,
textarea {
  /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}

a {
  text-decoration: none;
}

.overflow-txt {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
  height: 0;
  font-size: 0;
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.block {
  padding: 0;
  margin: 0;
  display: block;
}

.border-l-none {
  border-left: 0 !important;
}
.border-r-none {
  border-right: 0 !important;
}
.border-t-none {
  border-top: 0 !important;
}
.border-b-none {
  border-bottom: 0 !important;
}

.tab {
  * {
    box-sizing: border-box;
  }
  display: flex;
  flex-direction: column;
  .tab-hd {
    display: flex;
    height: px2rem(108);
    .tab-hd-item {
      flex: 1 1 auto;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      font-size: px2rem(28);
      color: #000;
      line-height: px2rem(108);
      text-align: center;
    }
    .tab-hd-item.active {
      border-bottom: px2rem(6) solid rgb(16, 144, 61);
    }
  }
  .tab-bd {
    flex: 1;
  }
}
h3 {
  font-size: px2rem(28);
  color: #000;
}

p {
  font-size: px2rem(22);
  color: #757577;
}
